@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:600');

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* sass extend variables */
%contentBorderTopExtend {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

%contentBorderBotExtend {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

%closeButtonDef {
  position: relative;
  width: 30px;
  height: 3px;
  background-color: #0b58a2;
  margin: -2px auto;
  transition: 0.4s;
  border-radius: 5px;
}

@mixin menuPosBar($posBar) {
  -webkit-transform: rotate($posBar);
  -moz-transform: rotate($posBar);
  -ms-transform: rotate($posBar);
  -o-transform: rotate($posBar);
  transform: rotate($posBar);
}

@mixin menuNegBar($negBar) {
  -webkit-transform: rotate($negBar);
  -moz-transform: rotate($negBar);
  -ms-transform: rotate($negBar);
  -o-transform: rotate($negBar);
  transform: rotate($negBar);
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#closeCard {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  font-size: 2em;
  z-index: 1;
  .bar-one {
    @include menuPosBar(130deg);
    @extend %closeButtonDef;
  }
  .bar-two {
    @include menuNegBar(-130deg);
    @extend %closeButtonDef;
  }
}

#cardContainerFlex {
  display: flex;
  width: 90%;
  max-width: 350px;
  height: 90%;
  max-height: 440px;
  border: 1px solid #fff;
  margin: auto;
  border-radius: 30px;
}

#cardContainer {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.card-head {
  @extend %contentBorderTopExtend;
  display: flex;
  position: relative;
  background: url("../images/IMG3.jpg") white no-repeat center;
  width: 100%;
  max-width: 350px;
  height: 30%;
}

.card-content {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  height: 70%;
  max-height: 440px;
  background-color: white;
  @extend %contentBorderBotExtend;
}

.fa-linkedin-in, .fa-github-alt {
  font-size: 1.8em;
}

.fa-linkedin-in:hover, .fa-github-alt:hover {
  color: #315f98;
  transition: color .5s;
}

.my-face {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 50%);
  background: url("../images/messy.jpg") no-repeat center;
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
  border-radius: 60px;
  border: 10px solid #fff
}

.title {
  font-size: 2em;
  margin: auto;
}

.social-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px
}

button {
  background-color: transparent;
  border: 2px solid black;
  padding: 10px;
}

button:hover {
  color: #315f98;
  background-color: #eee;
  transition: background-color .5s, color .5s;

}

#closeCard:hover {
  cursor: pointer;
}
